.reviews-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #DCDCDC;
    font-family: "Nunito";
}
.review{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 200px;
    background-color:#FAFAFA;
    border-radius: 18px;
    padding: 20px 30px 30px 30px;
}
.review-header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    gap: 10px;
}
.review-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}
.review-image-container > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.review-profile-info{
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-between;
  

}
.reviewer-name{
    font-weight: 700;
    font-size: 20px;
    color: #2F2F2F;
    
}
.reviewer-concern{
    font-weight: 500;
    font-size: 16px;
    color: #939393;
}
.review-ratings{
    display: flex;
    gap: 5px;
}
.review-date{

    color: #979797;
    font-size: 16px;
    margin-left: auto;
}
.review-content{
    margin-top: auto;
}

