


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face{
  font-family: Gotham_Rounded_Bold;
  src: url(/src/assets/font/Gotham-Rounded-Bold.ttf);
}

@font-face{
  font-family: DINpro;
  src: url(/src/assets/font/DINpro.woff);
}
body {
  font-family: DINpro;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
  width: 100%;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

